pip install h5py==2.7.0
pip install joblib
pip install jupyter
pip install ipywidgets
pip install jupyter_contrib_nbextensions
pip install Keras==2.0.6
pip install matplotlib==2.0.0
pip install nltk==3.2.4
pip install numpy>=1.11.2
pip install opencv
pip install pandas==0.19.2
pip install Pillow==4.0.0
pip install requests==2.12.4
pip install scikit-learn==0.18.2
pip install scipy==0.18.1
pip install tensorflow==1.2.1
pip install tqdm==4.15.0
pip install ffmpeg==3.2.4
